<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>aaaa</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>loginservlet</display-name>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>servlet.loginservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>registservlet</display-name>
		<servlet-name>registservlet</servlet-name>
		<servlet-class>servlet.registservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registservlet</servlet-name>
		<url-pattern>/servlet/registservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>registerservlet</display-name>
		<servlet-name>registerservlet</servlet-name>
		<servlet-class>servlet.registerservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerservlet</servlet-name>
		<url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>cartservlet</display-name>
		<servlet-name>cartservlet</servlet-name>
		<servlet-class>servlet.cartservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartservlet</servlet-name>
		<url-pattern>/cartservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>cartDelete</display-name>
		<servlet-name>cartDelete</servlet-name>
		<servlet-class>servlet.cartDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartDelete</servlet-name>
		<url-pattern>/cartDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoodsList2</display-name>
		<servlet-name>GoodsList2</servlet-name>
		<servlet-class>servlet.GoodsList2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsList2</servlet-name>
		<url-pattern>/GoodsList2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>userServlet</display-name>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>servlet.userServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/userServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>logoutservlet</display-name>
		<servlet-name>logoutservlet</servlet-name>
		<servlet-class>servlet.logoutservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutservlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>addcart</display-name>
		<servlet-name>addcart</servlet-name>
		<servlet-class>servlet.addcart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addcart</servlet-name>
		<url-pattern>/addcart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>cartorder</display-name>
		<servlet-name>cartorder</servlet-name>
		<servlet-class>servlet.cartorder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartorder</servlet-name>
		<url-pattern>/cartorder</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>order</display-name>
		<servlet-name>order</servlet-name>
		<servlet-class>servlet.order</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>order</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>addgood</display-name>
		<servlet-name>addgood</servlet-name>
		<servlet-class>servlet.addgood</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addgood</servlet-name>
		<url-pattern>/addgood</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>delgood</display-name>
		<servlet-name>delgood</servlet-name>
		<servlet-class>servlet.delgood</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delgood</servlet-name>
		<url-pattern>/delgood</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>delcart</display-name>
		<servlet-name>delcart</servlet-name>
		<servlet-class>servlet.delcart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delcart</servlet-name>
		<url-pattern>/delcart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>querenshouhuo</display-name>
		<servlet-name>querenshouhuo</servlet-name>
		<servlet-class>servlet.querenshouhuo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>querenshouhuo</servlet-name>
		<url-pattern>/querenshouhuo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>fahuo</display-name>
		<servlet-name>fahuo</servlet-name>
		<servlet-class>servlet.fahuo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fahuo</servlet-name>
		<url-pattern>/fahuo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>addorder</display-name>
		<servlet-name>addorder</servlet-name>
		<servlet-class>servlet.addorder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addorder</servlet-name>
		<url-pattern>/addorder</url-pattern>
	</servlet-mapping>
</web-app>